{% extends 'layout.html.twig' %}

{% block title %}Conferences list{% endblock %}

{% block isActive %}active{% endblock %}

{% block body %}
    <div {% if is_granted('ROLE_USER') %}class="row"{% endif %}>
        {% if is_granted('ROLE_USER') %}
            <div class="col-md-2 filters mt-md-5">
                <button class="d-block m-auto btn btn-secondary mt-md-3" type="button" data-toggle="collapse"
                        data-target="#filter-panel">
                    Toggle Filters
                </button>
                <aside class="mt-3 collapse" id="filter-panel">
                    {{ form_start(filtersForm) }}
                    <h3>Filters</h3>
                    {{ form_row(filtersForm.report_number) }}
                    {{ form_row(filtersForm.start_date) }}
                    {{ form_row(filtersForm.end_date) }}
                    {{ form_row(filtersForm.is_available) }}
                    <div class="form-group">
                        <a class="btn btn-danger" href="{{ path('app_conference_index') }}">Reset</a>
                        <button class="btn btn-primary" id="reset-filters" type="submit">Filter</button>
                    </div>
                    {{ form_end(filtersForm) }}
                </aside>
            </div>
        {% endif %}

        <section class="{% if is_granted('ROLE_USER') %}col-md-10{% endif %} table-section">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div class="d-flex justify-content-between align-items-center">
                <h1>Conferences</h1>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="d-block btn btn-primary" href="{{ path('app_conference_new') }}">Create</a>
                {% endif %}
            </div>

            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences.currentPageResults %}
                    <tr>
                        <td>{{ conference.title }}</td>
                        <td>{{ conference.startedAt ? conference.startedAt|date('Y-m-d H:i') ~ '-' ~ conference.endedAt|date('H:i') : 'None' }}</td>
                        <td>
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <button class="btn btn-danger"
                                            data-toggle="modal"
                                            data-target="#modal"
                                            data-conference="{{ conference.id }}"
                                            data-admin="delete">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    <a class="btn btn-info"
                                       href="{{ path('app_conference_edit', {'id': conference.id}) }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                {% else %}
                                    {% if app.user in conference.getUsers %}
                                        <button class="btn btn-danger"
                                                data-toggle="modal"
                                                data-target="#modal"
                                                data-conference="{{ conference.id }}">
                                            <i class="bi bi-x-square"></i>
                                        </button>
                                    {% else %}
                                        {% if is_granted('ROLE_ANNOUNCER') %}
                                            <a class="btn btn-primary"
                                               href="{{ path('app_report_new', {'conference_id': conference.id}) }}">
                                                <i class="bi bi-check-square"></i>
                                            </a>
                                        {% else %}
                                            <form class="d-inline"
                                                  action="{{ path('app_conference_join', {'id': conference.id}) }}"
                                                  method="post">
                                                <input type="hidden" name="token"
                                                       value="{{ csrf_token('join-conference') }}">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="bi bi-check-square"></i>
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                <a class="btn btn-primary"
                                   href="{{ path('app_conference_show', {'id': conference.id}) }}">
                                    <i class="bi bi-info-square"></i>
                                </a>
                            {% else %}
                                <a class="btn btn-primary"
                                   href="{{ path('app_login') }}">
                                    <i class="bi bi-check-square"></i>
                                </a>
                                <a class="btn btn-primary"
                                   href="{{ path('app_login') }}">
                                    <i class="bi bi-info-square"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                {{ pagerfanta(conferences, 'twitter_bootstrap4') }}
            </div>
        </section>
    </div>

    {% include 'components/modal.html.twig' %}

    <script type="module">
        import {cancelParticipationModal} from "{{ asset('js/cancelParticipationModal.js') }}";
        import {deleteAdminModal} from "{{ asset('js/deleteAdminModal.js') }}";
        import {getConferenceId} from "{{ asset('js/getConferenceId.js') }}";

        document.addEventListener('mousedown', function (event) {
            if (
                event.target.dataset.conference && !event.target.dataset.admin
                ||
                event.target.parentNode.dataset.conference && !event.target.parentNode.dataset.admin
            ) {
                const conferenceId = getConferenceId(event);
                const url = `https://localhost/conferences/${conferenceId}/cancel`;
                cancelParticipationModal('modal', url, "{{ csrf_token('cancel-conference') }}");
            } else if (event.target.dataset.admin === 'delete' || event.target.parentNode.dataset.admin  === 'delete') {
                const conferenceId = getConferenceId(event)
                const url = `https://localhost/conferences/${conferenceId}/delete`;
                deleteAdminModal('modal', url, '{{ csrf_token('delete-conference') }}')
            }
        });
    </script>
{% endblock %}
