{% extends 'layout.html.twig' %}

{% block title %}Conferences list{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h1>Conference index</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Day of start</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for conference in conferences.currentPageResults %}
            <tr>
                <td>{{ conference.title }}</td>
                <td>{{ conference.start ? conference.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <form class="d-inline" action="{{ path('app_conference_delete', { id: conference.id }) }}"
                                  method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-conference') }}">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                            <a class="btn btn-info"
                               href="{{ path('app_conference_edit', {'id': conference.id}) }}">Edit</a>
                        {% else %}
                            {% if conference.users is empty %}
                                <form class="d-inline" action="{{ path('app_conference_join', {'id': conference.id}) }}"
                                      method="post">
                                    <input type="hidden" name="token" value="{{ csrf_token('join-conference') }}">
                                    <button class="btn btn-primary" type="submit">Join</button>
                                </form>
                            {% else %}
                                <form class="d-inline"
                                      action="{{ path('app_conference_cancel', {'id': conference.id}) }}"
                                      method="post">
                                    <input type="hidden" name="token" value="{{ csrf_token('cancel-conference') }}">
                                    <button class="btn btn-danger" type="submit">Cancel participation</button>
                                </form>
                            {% endif %}
                        {% endif %}
                        <a class="btn btn-primary"
                           href="{{ path('app_conference_show', {'id': conference.id}) }}">Details</a>
                    {% else %}
                        <a class="btn btn-primary"
                           href="{{ path('app_login') }}">Join</a>
                        <a class="btn btn-primary"
                           href="{{ path('app_login') }}">Details</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ pagerfanta(conferences, 'twitter_bootstrap4') }}
    </div>

    <a class="btn btn-primary" href="{{ path('app_conference_new') }}">Create new</a>
{% endblock %}
