{% extends 'layout.html.twig' %}

{% block title %}Conference Information{% endblock %}

{% block links %}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="d-flex align-content-center justify-content-between align-items-center">
        <h1>Conference</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex justify-content-center align-items-center">
                <form class="d-flex align-items-center"
                      action="{{ path('app_conference_delete', { id: conference.id }) }}"
                      method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-conference') }}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <a class="btn btn-info ml-1" href="{{ path('app_conference_edit', {'id': conference.id}) }}">Edit</a>
            </div>
        {% else %}
            {% if conference.users is empty %}
                {% if is_granted('ROLE_ANNOUNCER') %}
                    <a class="btn btn-primary"
                       href="{{ path('app_report_new', {'conference_id': conference.id}) }}">Join</a>
                {% else %}
                    <form class="d-inline"
                          action="{{ path('app_conference_join', {'id': conference.id}) }}"
                          method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('join-conference') }}">
                        <button class="btn btn-primary" type="submit">Join</button>
                    </form>
                {% endif %}
            {% else %}
                <form class="d-flex align-items-center"
                      action="{{ path('app_conference_cancel', {'id': conference.id}) }}"
                      method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('cancel-conference') }}">
                    <button class="btn btn-danger" type="submit">Cancel participation</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Title</th>
            <td>{{ conference.title }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td id="country-name" data-country="{{ conference.country }}">{{ conference.country }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ conference.startedAt ? conference.startedAt|date('Y-m-d H:i') ~ '-' ~conference.endedAt|date('H:i') : 'Undefined' }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <div id="map" data-lat="{{ conference.address[0] }}" data-lng="{{ conference.address[1] }}"></div>
            </td>
        </tr>
        <tr>
            <th>Reports</th>
            <td>
                <div>
                    {{ form_start(report_form_filters) }}
                    {{ form_row(report_form_filters.start_time) }}
                    {{ form_row(report_form_filters.end_time) }}
                    {{ form_row(report_form_filters.duration) }}
                    <div class="mt-auto ml-3 mb-3">
                        <a class="btn btn-danger" href="{{ path('app_conference_show', { 'id': conference.id }) }}">Reset</a>
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </div>
                    {{ form_end(report_form_filters) }}
                </div>
                <div class="row">
                    {% for report in reports %}
                        <div class="col-sm-6 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <a href="{{ path('app_report_show', {'conference_id': conference.id, 'report_id': report.id}) }}">
                                            <h5 class="card-title">{{ report.title }}
                                            </h5>
                                        </a>
                                        <span class="badge badge-info ml-auto">{{ report.commentsNumber }}</span>
                                    </div>
                                    <p class="card-text">{{ report.startedAt|date('H:i') ~ '-' ~ report.endedAt|date('H:i') }}</p>
                                    <span class="short-content">
                                        {{ report.description|length > 100
                                        ? report.description[:100] ~ '...'
                                        : report.description }}
                                    </span>
                                    {% if report.description|length > 100 %}
                                        <span class="full-content" style="display: none;">
                                                {{ report.description }}
                                            </span>
                                        <button class="d-block btn btn-info mt-3 toggle-content-btn">Read more</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}">
    </script>
    <script type="module">
        import {initializeMap} from "{{ asset('js/fixedGoogleMap.js') }}";
        import {showMoreContent} from "{{ asset('js/showMoreContent.js') }}";

        initializeMap();
        showMoreContent();
    </script>
{% endblock %}
