{% extends 'layout.html.twig' %}

{% block title %}Conference Information{% endblock %}

{% block links %}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Conference</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Title</th>
            <td>{{ conference.title }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td id="country-name" data-country="{{ conference.country }}">{{ conference.country }}</td>
        </tr>
        <tr>
            <th>Day of Start</th>
            <td>{{ conference.start ? conference.start|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <div id="map" data-lat="{{ conference.address[0] }}" data-lng="{{ conference.address[1] }}"></div>
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <form class="d-inline" action="{{ path('app_conference_delete', { id: conference.id }) }}"
              method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-conference') }}">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <a class="btn btn-info" href="{{ path('app_conference_edit', {'id': conference.id}) }}">Edit</a>
    {% else %}
        {% if conference.users is empty %}
            <form class="d-inline" action="{{ path('app_conference_join', {'id': conference.id}) }}"
                  method="post">
                <input type="hidden" name="token" value="{{ csrf_token('join-conference') }}">
                <button class="btn btn-primary" type="submit">Join</button>
            </form>
        {% else %}
            <form class="d-inline" action="{{ path('app_conference_cancel', {'id': conference.id}) }}"
                  method="post">
                <input type="hidden" name="token" value="{{ csrf_token('cancel-conference') }}">
                <button class="btn btn-danger" type="submit">Cancel participation</button>
            </form>
        {% endif %}
    {% endif %}

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}">
    </script>
    <script type="module">
        import { initializeMap } from "{{ asset('js/fixedGoogleMap.js') }}"
        initializeMap();
    </script>
{% endblock %}
