<li class="list-group-item" id="comment-{{ comment.id }}">
    <div class="row">
        <div class="col-12">
            <div>
                <small class="text-muted">By: {{ comment.user.firstname }} {{ comment.user.lastname }}
                    on {{ comment.createdAt|date('F j, Y H:i') }}</small>
            </div>
            <p class="comment-text">{{ comment.content | raw }}</p>
            <p>{{ comment.createdAt|date('d-m-Y H:i:s') }} {{ date('now')|date('d-m-Y H:i:s') }}</p>
            <div class="action d-flex">
                {% if app.user.id == comment.user.id %}
                    {% if comment.createdAt|date('d-m-Y H:i:s') >= date('now')|date('d-m-Y H:i:s') %}
                        <a class="btn btn-primary mr-1" href="{{ path('app_report_comment_edit', {
                            'conference_id': comment.report.conference.id,
                            'report_id': comment.report.id,
                            'comment_id': comment.id}) }}">Edit</a>
                    {% endif %}
                    <form class="d-inline" method="post"
                          action="{{ path('app_report_comment_delete',{
                              'conference_id': comment.report.conference.id,
                              'report_id': comment.report.id,
                              'comment_id': comment.id
                          }) }}"
                          onsubmit="return confirm('Are you sure you want to delete this comment?');">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ comment.report.id ~ comment.report.conference.id) }}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</li>
