{% extends 'layout.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}
    <h1>Report index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>StartedAt</th>
                <th>Ended_at</th>
                <th>Description</th>
                <th>Document</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.title }}</td>
                <td>{{ report.startedAt ? report.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ report.endedAt ? report.endedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.document }}</td>
                <td>{{ report.createdAt ? report.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ report.updatedAt ? report.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ report.deletedAt ? report.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_report_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('app_report_edit', {'report_id': report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_report_new') }}">Create new</a>
{% endblock %}
