{% extends 'layout.html.twig' %}

{% block title %}Report{% endblock %}

{% block links %}
    <script type="text/javascript" src="{{ asset('/bundles/fosckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Report</h1>
        <div>
            {% if(is_granted('ROLE_ANNOUNCER')) %}
                {% if(is_granted('EDIT', report)) %}
                    <a class="d-inline-block btn btn-primary mr-1"
                       href="{{ path('app_report_edit', {'conference_id': conferenceId,'report_id': report.id}) }}">Edit</a>
                {% endif %}
                {% if(is_granted('DELETE', report)) %}
                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal" data-cancel="participation">
                        Cancel Participation
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Title</th>
            <td>{{ report.title }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ report.startedAt|date('Y-m-d H:i') }}-{{ report.endedAt|date('H:i') }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ report.description }}</td>
        </tr>
        {% if (report.document) %}
            <tr>
                <th>Document</th>
                <td>
                    <a href="{{ path('app_report_file_download',
                        {
                            'conference_id': conferenceId,
                            'report_id': report.id,
                            'file_name': report.document
                        }
                    ) }}">{{ report.document }}</a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12">
            <div class="card widget">
                <div class="card-header d-flex align-items-center">
                    <span class="mr-2"><i class="fas fa-comment"></i></span>
                    <h3 class="card-title mb-0 flex-grow-1">Recent Comments</h3>
                </div>
                <div>
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content) }}
                    <button class="btn btn-primary mb-2" type="submit">Comment</button>
                    {{ form_end(commentForm) }}
                </div>
                <div class="card-body pt-0 pb-0">
                    <ul class="list-group list-group-flush" id="comment-list"></ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/modal.html.twig' %}

    <script type="module">
        import {commentsLazyLoading} from "{{ asset('js/commentsLazyLoading.js') }}";
        import {modalDeleteComment} from "{{ asset('js/modalDeleteComment.js') }}";
        import {cancelParticipationModal} from "{{ asset('js/cancelParticipationModal.js') }}";

        commentsLazyLoading('{{ path('app_report_comments_load', {'conference_id': conferenceId, 'report_id': report.id}) }}');

        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('btn') && event.target.dataset.comment) {
                const commentId = event.target.dataset.comment;
                modalDeleteComment(
                    'modal',
                    {{ conferenceId }},
                    {{ report.id }},
                    commentId,
                    '{{ csrf_token('delete' ~ report.id ~ conferenceId) }}');
            } else if (event.target.dataset.cancel === 'participation'){
                cancelParticipationModal(
                    'modal',
                    '{{ path('app_report_delete', {'conference_id': conferenceId, 'report_id': report.id}) }}',
                    '{{ csrf_token('delete' ~ report.id) }}');
            }
        });


    </script>
{% endblock %}
