{% extends 'layout.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Title</th>
            <td>{{ report.title }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ report.startedAt|date('Y-m-d H:i') }}-{{ report.endedAt|date('H:i') }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ report.description }}</td>
        </tr>
        {% if (report.document) %}
            <tr>
                <th>Document</th>
                <td>{{ report.document }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if(is_granted('ROLE_ANNOUNCER')) %}
        {% if(is_granted('edit', report)) %}
            <a class="d-inline-block btn btn-primary mr-1"
               href="{{ path('app_report_edit', {'conference_id': conferenceId,'report_id': report.id}) }}">Edit</a>
        {% endif %}
        {% if(is_granted('delete', report)) %}
            <form class="d-inline" method="post"
                  action="{{ path('app_report_delete', {'conference_id': conferenceId, 'report_id': report.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ report.id) }}">
                <button class="btn btn-danger">Cancel participation</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
